
// basic
=reset
  margin: 0px
  padding: 0px
  display: inline-block
  box-sizing: border-box

=header-height($s)
  +reset
  height: $s
  line-height: $s

// media queries
=phone
  @media (min-width: #{$phone-width}) and (max-width: #{$tablet-width - 1px})
    @content

=tablet
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px})
    @content

=desktop
  @media (min-width: #{$desktop-width})
    @content
