@import url(//fonts.googleapis.com/css?family=Open+Sans)

@import 'font-awesome'
@import 'bourbon'
@import 'neat'

body
	font-family: "Open Sans"

@mixin ui-button($h: 32px, $p: 10px)
	display: inline-block
	box-sizing: border-box
	height: $h
	line-height: $h - 2*$p
	padding: $p
	cursor: pointer
	font-size: $h / 2 - 2px
	&:active
		padding: ($p + 1) $p ($p - 1) $p

.counter
	height: 32px
	line-height: 32px
	> *
		float: left
	> span
		height: 32px
		line-height: 32px
		display: inline-block
		font-size: 14px
		padding: 0px 10px
	button
		+ui-button()
		background: #fafafa
		color: #333
		border: 0px
		transition: box-shadow 0.3s, background 0.3s
		box-shadow: 1px 1px 2px #ccc
		outline: none
		&:active
			outline: none
		&:hover
			box-shadow: 1px 1px 5px #aaa
			color: #000
